/* sx={{ minWidth:'345px',margin:"20px",height:'fit-content' }} */
.profilecard{
    max-width: 300px;
    max-height: 325px;
    min-width: 300px;
    min-height: 325px;
    margin: 15px;
    background-color: rgb(240, 239, 239);
}
.profilecardUser{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh!important;
    align-items: center!important;
}
.UserProfile__button{
    display: flex;
    width: 90%;
    max-width: 500px;
}
.profileimage__profilecard{
    display: flex;
    position:absolute;
    top: 0;   
    z-index: 10;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    height: 160px;
}
.profile__subInterst{
    font-size: xx-small;
    font-weight: 700 !important;
    height: 15px;
    text-transform: uppercase;
    color: #4a5e73;
}
.profile__address{
    display: flex;
    font-size: 13px;
    font-weight: 600;
    color:#0a2540 ;
}
.profile__address>h6{
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 13px;
    font-weight: 600;
    color:#4e555c ;
}
.profile__last{
    display: flex;
    flex-direction: column;  
    margin-bottom: 12px;
}
.profile__qualities{
    display: flex;
    font-size: medium;
    padding-top: 8px;
    padding-bottom: 5px;
    color: #cc2222;
    font-weight: 600;
}
.profile__qualitiesName{
    display: flex;
    padding: 0 8px 0 0;
    font-size: small;
    font-weight:600;
}
.card__Button{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.card__Button>button{
    width : 100px;
    margin-right : 20px;
    padding: 8px 0;
    background-color: rgb(245, 240, 240);
    border-radius: 20px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(87, 78, 78);
    border : 1px solid lightgray;
  }
  
.card__Button>button:hover{
      cursor : pointer;
}
.passion_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Card_popUp__list_V{
    display: flex;
    width: 90%;
    border: 0;
    padding:10px;
    border-radius: 20px;
    background-color: rgb(245, 35, 35);
    color: white;
    margin: 4px 2px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Card_popUp__list_BF{
    display: flex;
    width: 90%;
    border: 0;
    padding:10px;
    border-radius: 20px;
    background-color: #eb660d;
    color: white;
    margin: 4px 2px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Card_popUp__list_F{
    display: flex;
    width: 90%;
    border: 0;
    padding:10px;
    border-radius: 20px;
    background-color: rgb(238, 133, 13);
    color: white;
    margin: 4px 2px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Card_popUp__list_MB{
    display: flex;
    width: 90%;
    border: 0;
    padding:10px;
    border-radius: 20px;
    background-color: #fa03c5;
    color: white;
    margin: 4px 2px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Card_popUp__list_NI{
    display: flex;
    width: 90%;
    border: 0;
    padding:10px;
    border-radius: 20px;
    background-color: #686466;
    color: white;
    margin: 4px 2px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Card_popUp__list_S{
    display: flex;
    width: 90%;
    border: 0;
    padding:10px;
    border-radius: 20px;
    background-color: rgb(189, 187, 187);
    color: white;
    margin: 4px 2px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Card_popUp__list_TC{
    display: flex;
    width: 90%;
    border: 0;
    padding:10px;
    border-radius: 20px;
    background-color: rgb(240, 66, 66);
    /* background-color: #e02985; */
    color: white;
    margin: 4px 2px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media(max-width:1300px){
    .profilecard{ 
        max-width: 340px;
        height: 325px;
        margin: 12px;
    }
}
@media(max-width:769px){
    .profilecard{ 
        max-width: 96%;
        height: 325px;
        margin: 2%;
        min-width: 10px !important;
    }
}